.title{
  font-size: 18px;
  font-weight: bold;
  color: lightblue;
  text-align: center;
}
.upperSection{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 70%;
  background-color: #768E8A;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 20px #768E8A;
}